*{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
 background: #0e1212;
}
/* Handle */
::-webkit-scrollbar-thumb {
 background: #682ae9;
 border-radius: 5px;

}



.App{
  background-color: #0e1212;
  overflow:hidden
}



@keyframes slide-up {
  from {
    margin-top: 5%;
    /* height: 300%;  */
  }

  to {
    margin-top: 0%;
   
    /* height: 100%; */
  }
}


@keyframes home-content {
  from {
    margin-top: 3%;
    /* height: 300%;  */
  }

  to {
    margin-top: 0%;
    /* height: 100%; */
  }
}





.top-btn{
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  color: #fff;
  background-color: #682ae9;
  box-shadow: 3px 1px 89px 0px #682ae9;
  border-radius: 50%; 
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: gototop 1.2s linear infinite alternate-reverse;
}


@keyframes gototop {
  0% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(1rem);
  }
}
