*{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
 background: #0e1212;
}
/* Handle */
::-webkit-scrollbar-thumb {
 background: #682ae9;
 border-radius: 5px;

}



.App{
  background-color: #0e1212;
  overflow:hidden
}

.slide-up {
  height:100vh;
  width: 100%;
  /* border: 1px solid black; */
  text-align: center;
 
}
.slide-up .slide-up-inner{
 
  background-color: #0e1212;
  padding-top: 50vh;
  /* border: 1px solid rebeccapurple; */
   overflow:hidden;
}
.slide-up p {
  animation: 3s slide-up;
  color: #555;
  /* margin-top:30%; */
  /* background: -webkit-linear-gradient(#777, #777);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-family: 'Allura', cursive;
  /* font-family: 'Sacramento', cursive; */

    font-size: 3rem;
    font-weight: 500;
  
}

@keyframes slide-up {
  from {
    margin-top: 5%;
    /* height: 300%;  */
  }

  to {
    margin-top: 0%;
   
    /* height: 100%; */
  }
}

/* .nav{
  height: 50px;
  background-color: #0e1212;
  position: fixed;
  top: 0;
  right: 0;
 
  display: flex;
  justify-content: flex-end;
  box-shadow:0 0 60px #0e1212 ;

}
.nav ul{
  display: flex;
  flex-flow: row nowrap;

}
.nav li{

  list-style: none;
    
  color: #777;
  padding: 18px;
  height: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: end;
  cursor: pointer;
}
 .nav li .active{
  color: #dbdbdb;
} */

/* divide home section into ratios so that image gets good */
.home{
  /* background-color: #0e1212; */
  display: flex;
  height: 100vh;
  width: 100vw;
  
   background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 19%, rgba(0, 0, 0, 0.65) 100%);
    
    
}
.home-content{
  width: 75%; 
  height: 100vh;
  animation: 2s home-content;
  font-size: 4rem;
    font-weight: 700;
    /* word-spacing: 0.1em; */
    letter-spacing: .05em;
 padding: 15rem;
  /* border: 1px solid red; */

}
.home-content .main_text{
  /* font-family: 'Work Sans', sans-serif; */
  font-weight: 500;
  
color: #dbdbdb;

}
.home .image{
  background-image:linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.65) 100%), url(./img3.png);
  width: 25%;
  background-size: 370px;
  height: 100vh;
  opacity: 0.5;
  background-position: right;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* border: 1px solid greenyellow; */

    /* height: 200px; */
    /* background-size: cover; */
  -webkit-filter: drop-shadow(0px 12px 130px #682ae9);

    color: white;
 
  /* border: 1px solid red; */
  /* height: 100vh; */
}


.main_text_name{
  /* font-family: 'Work Sans', sans-serif; */
  font-weight: 600; 
  color: #682ae9;
  /* text-decoration: 3px underline; */
  cursor: pointer;
}
.fullstack{
  color: #777;
  font-weight: 500;
  font-size: 1.5rem;
  padding-left: .3rem;
}

@keyframes home-content {
  from {
    margin-top: 3%;
    /* height: 300%;  */
  }

  to {
    margin-top: 0%;
    /* height: 100%; */
  }
}


/* //media query */
/* @media screen and (max-width: 640px) {
  .about{
    flex-direction: column;
  }
} */



.top-btn{
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  color: #fff;
  background-color: #682ae9;
  box-shadow: 3px 1px 89px 0px #682ae9;
  border-radius: 50%; 
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: gototop 1.2s linear infinite alternate-reverse;
}


@keyframes gototop {
  0% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(1rem);
  }
}
@media (max-width:1000px){
  .home-content{
     width: 100vw;
   
    padding:40vh 5rem;
    font-size: 5rem;
    /* border: 1px solid red;  */

}
.home .image{
  width: 0;
}
}
@media (max-width:500px){
  .home-content{
    width: 100vw;
    padding:40vh 3rem;
    font-size: 2rem;
    
}
.home-content .fullstack{
  font-size: 1rem;

}
.home .image{
  width: 0;
}
}




/* @media only screen and (max-width: 1441px) and (min-width: 1025px) {
  .container {
      max-width: 80%;
  }

  .grid {
      gap: 2%;
  }

  .card {
      padding: 15px;
  }

  .card_body {
      padding: 15px;
  }

  .card_title {
      font-size: 22px;
      padding-bottom: 14px;
  }

  .card_body p {
      font-size: 16px;
  }

  a.read_more {
      padding: 19px 0;
      width: 60%;
      font-size: 11px;
      margin-top: 30px;
  }

}

@media only screen and (max-width: 1024px) {

  .grid {
      grid-template-columns: 1fr;
      gap: 2%;
  }
} */

/* @media only screen and (max-width: 425px) {
  .container {
      max-width: 90%;
  }

  .card {
      padding: 20px 10px;
  }

  .card_body {
      padding: 7px;
  }

  .card_title {
      font-size: 20px;
      padding-bottom: 7px;
  }

  .card_body p {
      font-size: 14px;
  }

  a.read_more {
      padding: 15px 0;
      margin-top: 20px;
  }
}



/* //media query */
@media screen and (max-width: 640px) {
  
} 